.table-info-wrapper
  %div
    %h1 Administrators
    .total-records-count
      %span Total count
      %span= Administrator.all.length
  = link_to "Add new administrator", new_administrator_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      - Administrator.column_names.reject { |col| fields_to_exclude.include?(col) }.map(&:humanize).each do |field|
        %th= field
      %th
  %tbody
    - Administrator.all.each do |admin|
      %tr
        - Administrator.column_names.reject { |col| fields_to_exclude.include?(col) }.each do |field|
          %td= admin.send(field)
        = render partial: "shared/edit_delete_button_tr", locals: { edit_path: edit_administrator_path(admin),
                                                                    delete_path: administrator_path(admin) }
