.table-info-wrapper
  %div
    %h1 Cities
    .total-records-count
      %span Total count
      %span= City.all.length
  = link_to "Add new city", new_city_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      - City.column_names.reject { |col| fields_to_exclude.include?(col) }.map(&:humanize).each do |field|
        %th= field
      %th
  %tbody
    - City.all.each do |city|
      %tr
        - City.column_names.reject { |col| fields_to_exclude.include?(col) }.each do |field|
          %td= city.send(field)
        = render partial: "shared/edit_delete_button_tr", locals: { edit_path: edit_city_path(city),
                                                                    delete_path: city_path(city) }
