.table-info-wrapper
  %div
    %h1 Cities
    .total-records-count
      %span Total count
      %span= City.all.length
  = link_to "Add new city", new_city_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      - City.column_names.reject { |col| fields_to_exclude.include?(col) }.map(&:humanize).each do |field|
        %th= field
      %th
  %tbody
    - City.all.each do |city|
      %tr
        - City.column_names.reject { |col| fields_to_exclude.include?(col) }.each do |field|
          %td= city.send(field)
        %td.flex{ style: "gap: 10px;"}
          = link_to edit_city_path(city), class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/edit.svg').read
          = button_to city_path(city), method: :delete, data: { turbo: false }, class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/trash.svg').read
