.table-info-wrapper
  %div
    %h1 Clients
    .total-records-count
      %span Total count
      %span= Client.all.length
  = link_to "Add new client", new_client_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      - Client.column_names.reject { |col| fields_to_exclude.include?(col) }.map(&:humanize).each do |field|
        %th= field
      %th
  %tbody
    - Client.all.each do |client|
      %tr
        - Client.column_names.reject { |col| fields_to_exclude.include?(col) }.each do |field|
          %td= client.send(field)
        = render partial: "shared/edit_delete_button_tr", locals: { edit_path: edit_client_path(client),
                                                                    delete_path: client_path(client) }
