.table-info-wrapper
  %div
    %h1 Client Subscriptions
    .total-records-count
      %span Total count
      %span= ClientSubscription.all.length
  = link_to "Add new client subscriptions", new_client_subscription_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      %th Client
      %th Subscription
      %th Started At
      %th Expires At
      %th
  %tbody
    - ClientSubscription.all.each do |sub|
      %tr
        %td= sub.client.first_name + " " + sub.client.last_name
        %td= sub.subscription.name
        %td= sub.started_at
        %td= sub.expires_at
        %td.flex{ style: "gap: 10px;"}
          = link_to edit_client_subscription_path(sub), class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/edit.svg').read
          = button_to client_subscription_path(sub), method: :delete, data: { turbo: false }, class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/trash.svg').read
