.table-info-wrapper
  %div
    %h1 Orders
    .total-records-count
      %span Total count
      %span= Order.all.length
  = link_to "Add new order", new_order_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      %th Scooter In Work
      %th Client
      %th Started At
      %th Ended At
      %th Total Sum
      %th
  %tbody
    - Order.all.each do |order|
      %tr
        %td= order.scooter_in_work&.model
        %td= order.client.first_name + " " + order.client.last_name
        %td= order.started_at
        %td= order.ended_at
        %td= order.total_sum
        = render partial: "shared/edit_delete_button_tr", locals: { edit_path: edit_order_path(order),
                                                                    delete_path: order_path(order) }
