.table-info-wrapper
  %div
    %h1 Reviews
    .total-records-count
      %span Total count
      %span= Review.all.length
  = link_to "Add new review", new_review_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      %th Order
      %th Rate
      %th Body
      %th
  %tbody
    - Review.all.each do |review|
      %tr
        %td= review.order&.id
        %td= review.rate
        %td= review.body
        = render partial: "shared/edit_delete_button_tr", locals: { edit_path: edit_review_path(review),
                                                                    delete_path: review_path(review) }
