.table-info-wrapper
  %div
    %h1 Reviews
    .total-records-count
      %span Total count
      %span= Review.all.length
  = link_to "Add new review", new_review_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      %th Order
      %th Rate
      %th Body
      %th
  %tbody
    - Review.all.each do |review|
      %tr
        %td= review.order.id
        %td= review.rate
        %td= review.body
        %td.flex{ style: "gap: 10px;"}
          = link_to edit_review_path(review), class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/edit.svg').read
          = button_to review_path(review), method: :delete, data: { turbo: false }, class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/trash.svg').read
