.table-info-wrapper
  %div
    %h1 Scooters
    .total-records-count
      %span Total count
      %span= Scooter.all.length
  = link_to "Add new scooter", new_scooter_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      - Scooter.column_names.reject { |col| fields_to_exclude.include?(col) }.map(&:humanize).each do |field|
        %th= field
      %th
  %tbody
    - Scooter.all.each do |scooter|
      %tr
        - Scooter.column_names.reject { |col| fields_to_exclude.include?(col) }.each do |field|
          %td= scooter.send(field)
        = render partial: "shared/edit_delete_button_tr", locals: { edit_path: edit_scooter_path(scooter),
                                                                    delete_path: scooter_path(scooter) }
