.table-info-wrapper
  %div
    %h1 Transactions
    .total-records-count
      %span Total count
      %span= Transaction.all.length
  = link_to "Add new transaction", new_transaction_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      - Transaction.column_names.reject { |col| fields_to_exclude.include?(col) }.map(&:humanize).each do |field|
        %th= field
      %th
  %tbody
    - Transaction.all.each do |transaction|
      %tr
        - Transaction.column_names.reject { |col| fields_to_exclude.include?(col) }.each do |field|
          %td= transaction.send(field)
        %td.flex{ style: "gap: 10px;"}
          = link_to edit_transaction_path(transaction), class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/edit.svg').read
          = button_to transaction_path(transaction), method: :delete, data: { turbo: false }, class: "empty-link" do
            = render inline: Rails.root.join('app/assets/images/trash.svg').read
