.table-info-wrapper
  %div
    %h1 Transactions
    .total-records-count
      %span Total count
      %span= Transaction.all.length
  = link_to "Add new transaction", new_transaction_path, class: "small-btn create-btn"
%table
  %thead
    %tr
      - Transaction.column_names.reject { |col| fields_to_exclude.include?(col) }.map(&:humanize).each do |field|
        %th= field
      %th
  %tbody
    - Transaction.all.each do |transaction|
      %tr
        - Transaction.column_names.reject { |col| fields_to_exclude.include?(col) }.each do |field|
          %td= transaction.send(field)
        = render partial: "shared/edit_delete_button_tr", locals: { edit_path: edit_transaction_path(transaction),
                                                                    delete_path: transaction_path(transaction) }
