.vertical-buttons-wrapper
  = link_to "SELECT request", get_request_requests_path
  = link_to "BETWEEN request", between_request_requests_path
  = link_to "IN request", in_request_requests_path
  = link_to "LIKE request", like_request_requests_path
  = link_to "two condition with AND request", two_condition_with_and_request_requests_path
  = link_to "two condition with OR request", two_condition_with_or_request_requests_path
  = link_to "DISTINCT request", distinct_request_requests_path
  = link_to "MAX request", max_request_requests_path
  = link_to "SUM request", sum_request_requests_path
  = link_to "COUNT request", count_request_requests_path
  = link_to "COUNT and other fields request", count_and_other_fields_request_requests_path
  = link_to "INNER JOIN with condition", inner_join_with_condition_request_requests_path
  = link_to "inner request with condition", inner_request_with_condition_requests_path
  = link_to "LEFT JOIN request", left_join_request_requests_path
  = link_to "RIGHT JOIN request", right_join_request_requests_path
  = link_to "INNER JOIN with aggregate function and HAVING request", inner_join_with_aggregate_and_having_request_requests_path
  = link_to "EXIST request", exist_request_requests_path
  = link_to "ANY request", any_request_requests_path
  = link_to "INNER JOIN in subquery request", inner_join_in_subquery_request_requests_path
  = link_to "Aggregate function with condition and ordering request", aggregate_function_with_condition_and_ordering_request_requests_path
