.centered-div
  %h1 Edit administrator
  = form_with model: @administrator do |form|
    - Administrator.column_names.reject { |a| fields_to_exclude.include?(a)}.each do |field|
      .inputs-wrapper
        = form.label field.humanize, for: "administrator_#{field.to_sym}"
        = form.text_field field.to_sym, required: true
    .submit-buttons-wrapper
      = link_to "Back", administrators_homepages_path
      = form.submit "Save"
